<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="dev" class="com.tamojit.Dev">
    <property name="age" value="12" />
    <property name="laptop" ref="lap1" /> <!-- Laptop Object Wiring -->
  </bean>

  <bean id="dev2" class="com.tamojit.Dev">
  </bean>

  <bean id="dev3" class="com.tamojit.Dev">
    <constructor-arg name="age" value="14" />
    <constructor-arg name="laptop" ref="lap1" />
  </bean>

  <bean id="lap1" class="com.tamojit.Laptop">
  </bean>
</beans>